# C output files
*.o
*.so
*.a
*.o_dynamic
*.o_shared

# VS Code workspace file and folder
*.code-workspace
.vscode/

# Text files
*.txt

# Compressed files
*.tar.gz

# Folders with my name
WilczekJan/
